body {
   min-width: 1122px;
   min-height: 1750px;

   margin: 0;
   padding: 0;

   font-family: "PT Sans Narrow" , Arial , sans-serif;
   font-size: 14px;
   line-height: 24px;
   font-weight: 700;
   color: #FFFFFF;
   text-transform: uppercase;

   background-color: #000000;
   background-image: url("../img/bg.jpg");
   background-position: top center;
   background-repeat: no-repeat;

 }

 .inner-page {
   color: #000000;

   background-color: #515151;
   background-image: url("../img/pattern-light.jpg");
   background-position: 0 0;
   background-repeat: repeat;
 }

 .inner-page {
   color: #771D15;
 }

a {
   text-decoration: none;
 }

 .button {
   font: inherit;

   text-align: center;
   color: #FFFFFF;
   vertical-align: middle;
   text-transform: uppercase;

   background-color: #000000;
   border: none;
 }

 .button:hover,
 .button:focus,
 .button:active {
   background-color: #663d15;
 }

 .container {
   width: 940px;
   margin: 0 auto;
   padding: 0 10px;
 }

 .main-header {
   margin-bottom: 75px;
 }
 .inner-page .main-header {
   margin-bottom: 50px;

   background-color: #000000;
 }

 .main-header-logo {
   width: 368px;
   height: 163px;
   order: 2;
 }

 .inner-page .main-header-logo {
   order: 0;
   width: 159px;
   height: 62px;
   padding: 23px 20px;
 }

 .main-navigation {
   display: flex;
   flex-direction: column;
   align-items:center;

   font-size: 16px;
   line-height: 20px;
   color: #FFFFFF;
 }

 .inner-page .main-navigation {
   align-items: flex-start;
   flex-direction: row;
 }

 .main-navigation-wrapper {
   width: 100%;
   margin-bottom: 30px;
   background-color: #000000;
 }

 .main-navigation-wrapper .container {
   display: flex;
   justify-content: space-between;
 }

 .site-navigation {
   width: 620px;
   margin: 0;
   padding: 0;
   list-style: none;
 }

 .user-navigation {
   width: 140px;
   margin: 0;
   padding: 0;
   list-style: none;
 }

 .inner-page .user-navigation {
   margin-left: auto;
 }

 .site-navigation a,
 .user-navigation {
   list-style:none;
 }
 .site-navigation a,
 .user-navigation a {
   color: #FFFFFF;
 }

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.features {
  margin-bottom: 80px;
}

.features-list{
  display: flex;
  justify-content: space-between;
  margin:0px;;
  padding: 0px;
  list-style: none;
  text-align: center;
}


.features-item {
  width: 300px;
  text-align: center;
}

.features-item h3 {
  font-size: 30px;
  line-height: 42px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;

  color: #000000;
    background-color: #f8f5f2;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.index-columns-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;
}
.index-columns-wrapper {
  width: 780px;
}


.news .news-list{
  width: 380px;
}

 .catalog-content .catalog  {
  width: 300px;
}

.contacts {
  width: 380px;
}

.buy {
  width: 300px;
}

.index-columns h2 {
font-size: 30px;
line-height: 42px;
}

.news-list {
  list-style: none;
}

.news-item time {
  text-transform: none;
}


.buy-item input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.buy-item input:focus{
  border-color: #663d15;
}

.brands-list {
  list-style: none;
}

.brands-list a {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.page-title {
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs a {
  list-style: none;
}

.breadcrumbs a {
  color: #000000
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #36A61A;
}

.filter fieldset {
  border: none;
}
.filter legend {
  font-size: 24px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-item {
  background-color: #f8f5f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
  color: #000000;
}

.catalog-category {
  text-transform: none;
}

.catalog-item-price b {
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  background-color: #e5e5e5;
}

.catalog-item-price .button {
  line-height: 20px;
  color: #ffffff;
}

.pagination-list {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  list-style: none;
}

.pagination-item a {
  color: #ffffff;

  background-color: #000000;
}



.catalog-item h3 {
  font-size: 14px;
  line-height: 18px;
}



.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #663d15;
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}

.produkt-wrapper {
  display: flex;
  justify-content: space-between;
}

.produkt-photos {
  width: 460px;
}

.produkt-info {
  width: 390px;
}


.produkt-photo-prewiew {
  list-style: none;
}

.produkt-photo-prewiew li {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.produkt-photo-full {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.produkt-article {
  text-align: right;
  color: #36A61A;
}

.produkt-price b {
  line-height: 20px;
  text-align: center;

  background-color: #e5e5e5;
}

.produkt-info h3 {
  font-size: 24px;
  line-height: 30px;
}

.produkt-info ul {
  list-style: none;
}

.index-columns-wrapper {
  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.index-columns-wrapper {
font-size: 30px;
line-height: 42px;
}

.produkt-photos {
  width: 460px;
}

.produkt-info {
  width: 390px;
}

.page-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 180px;
}


.catalog-item {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.main-footer {
  padding: 60px 0;
  margin-top: 65px;

  color: #ffffff;
    background-color: #212121;
  background-image: url:("img/pattern-dark.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.inner-page .main-footer{
  margin-top: 45px;
}

.main-footer .container {
  display: flex;
}

.footer-contakts {
  width: 220px
  margin: 50px;
    margin-right: 80px;
}

.footer-social {
width: 270px;
}

.inner-page .footer-social {
  margin: inherit;
}

.footer-copiright {
  width: 150px;
  margin: 0;
  margin-left: auto;
}

.footer-contakts a {
  color: #FFFFFF;
  text-decoration:underline;
}

.footer-contakts a:hover,
.footer-contakts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.footer-copiright {
  text-align: center;
}

.footer-copiright .button:hover
.footer-copiright .button:focus {
  color: #000000;

  background-color: #ffffff;
}

.modal {
  color: #000000;

  background-color: #f8f3f0;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.login-form input [type="text"],
.login-form input [type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}
